# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
hypothesis/
pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Local envs
env/
venv/
ENV/

# macOS stuff
.DS_Store

# logs and databases
*.log
*.sqlite3

# compiled files
*.pyc

# model/serialized files
*.pkl
*.joblib
